<% content_for :script do %>
  <%= javascript_include_tag "admin.js" %>
<% end %>
<% content_for :links do %>
	<li>
		<a href="/logout"><span class="icon-signout"></span>Logout</a>
	</li>
<% end %>

<div class="container">
	<% if !notice.blank? %>
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <%= notice %>
		</div>
	<% end%>
	<h1>Admin</h1>
	<p>use this table to manage uploads</p>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Source</th>
				<th>Artist</th>
				<th>Referer</th>
				<th class="text-center">
					<span class="icon-star" rel="tooltip" data-title="featured" data-trigger="hover"></span>
				</th>
				<th class="text-center">
					<span class="icon-check" rel="tooltip" data-title="display" data-trigger="hover"></span>
				</th>
				<th class="text-center">
					<span class="icon-remove-circle" rel="tooltip" data-title="delete" data-trigger="hover"></span>
				</th>
			</tr>
		</thead>
		<tbody>
		  <% @products.each do |i| %>
		    <tr data-id="<%= i.id%>">
		    	<td data-content="<img src=&quot;<%=i.image_url(:thumb) %>&quot;/>" data-trigger="hover" data-placement="right" data-html="true" data-type="tooltip"><%=i.name %></td>
		    	<td>
		    		<a href="<%=i.source %>">
		    			<%=i.source %>
		    		</a>
		    	</td>
		    	<td><%=i.artist %></td>
		    	<td>
		    		<% if i.contact =~ /^@[a-zA-Z0-9]*/ %>
		    			<a href="http://twitter.com/<%= i.contact%>">
		    		<% else %>
		    			<a href="mailto:<%= i.contact%>">
		    		<% end %>
		    			<%=i.referer %>
		    		</a>
		    	</td>
		    	<td class="text-center">
		    		<span class="icon-star<%if !i.featured %>-empty<% end %> clickable"></span>
		    	</td>
		    	<td class="text-center">
		    		<span class="icon-check<%if !i.display %>-empty<% end %> clickable"></span>
		    	</td>
		    	<td class="text-center">
		    		<span class="icon-remove-circle clickable"></span>
		    	</td>
		    </tr>
		  <% end %>
		</tbody>
	</table>
</div>