<div class="container">
	<% if !notice.blank? %>
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <%= notice %>
		</div>
	<% end%>
	<h1>Edit App Setting</h1>
	<% if @settings.errors.any? || @user.errors.any? %>
		<div id="error_explanation" class="alert alert-error">
		  <h4>Please fix the following <%= pluralize(@settings.errors.count + @user.errors.count, "error") %> and try again:</h4>
		  <ul>
		  <% @settings.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	<% end %>
	<%= form_tag("/setup/edit", :method => :post, :class => "form-horizontal") do %>
		<%= hidden_field :user, :id %>
		<%= hidden_field :settings, :id %>
		<div class="field control-group">
			<%= label_tag :name, "Name", :class => 'control-label' %>
			<div class="controls">
				<%= text_field :user, :name %>
			</div>
		</div>
		<div class="field control-group">
			<%= label_tag :email, "Email", :class => 'control-label' %>
			<div class="controls">
				<%= text_field :user, :email %>
			</div>
		</div>
		<div class="field control-group">
			<%= label_tag :password, "Password", :class => 'control-label' %>
			<div class="controls">
				<%= password_field :user, :password %>
			</div>
		</div>
		<div class="field control-group">
			<%= label_tag :app_name, "Application's Name", :class => 'control-label' %>
			<div class="controls">
				<%= text_field :settings, :app_name %>
			</div>
		</div>
		<div class="field control-group">
			<%= label_tag :product_type, "Product Type", :class => 'control-label' %>
			<div class="controls">
				<%= text_field :settings, :product_type %>
			</div>
		</div>
		<div class="field control-group">
			<%= label_tag :description, "App Description", :class => 'control-label' %>
			<div class="controls">
				<%= text_area :settings, :description, :cols => 10, :rows => 5 %>
			</div>
		</div>
		<div class="field control-group">
			<%= label_tag :simple, "Simple App", :class => 'control-label' %>
			<div class="controls">
				<%= check_box :settings, :simple, {}, true, false %>
				<small><samp>A simple app does not have details pages</samp></small>
			</div>
		</div>
		<div class="field control-group">
			<div class="controls">
				<%= submit_tag "Start using omakase!", :class => "btn btn-primary" %>
			</div>
		</div>
	<% end %>

</div>