<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => '3' %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :source, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :artist, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :artist %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :your_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referer %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :your_contact_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact %>
    </div>
  </div>
  <div class="actions control-group">
    <div class="controls">
      <%= f.submit 'Submit', :class=> 'btn btn-primary'%>
    </div>
  </div>
<% end %>
