<div class="container">
  <div class="row">
    <div class="span6">
      <div style="text-align: center;">
        <%= image_tag @product.image%>
      </div>
    </div>
    <div class="span6">
      <p>
        <b>Name:</b>
        <%= @product.name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @product.description %>
      </p>

      <p>
        <b>Source:</b>
        <a href="<%= @product.source %>">
          <%= @product.source %>
        </a>
      </p>
      <p>
        <b>Artist:</b>
        <%= @product.artist %>
      </p>
    </div>
  </div>
</div>