<div class="container">
  <div class="row">
    <div class="span6">
      <div style="text-align: center;">
        <%= image_tag @product.image%>
      </div>
    </div>
    <div class="span6">
      <p>
        <b>Name:</b>
        <%= @product.name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @product.description %>
      </p>

      <p>
        <b>Source:</b>
        <%= @product.source %>
      </p>

      <p>
        <b>Merchant:</b>
        <%= @product.source %>
      </p>

      <p>
        <b>Artist:</b>
        <%= @product.artist %>
      </p>

      <p>
        <b>from:</b>
        <%= @product.referer %>
      </p>
    </div>
  </div>
</div>